.border,#news {
    border: 10px solid;
    background-color:rgb(80, 16, 80);
    border-radius: 2em;
    border-color: rgb(192, 17, 26);
    border-style: ridge 2em 5em 2em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 0.4em;
    margin-top:0.25em;
}
.border.p-2 {
    max-width:250px;
    text-align:center;
}
.nav-item {
    height: 100px;width: 5px;size: 10px;
    display: flex;
 }
 .display-2{
    text-decoration-line: underline;
    margin-left: auto;
    margin-right: auto;
    color: rgb(19, 175, 26);
    font-size:medium;
    font-family: Verdana;
 }
 .display-1{
    text-decoration-line: underline;
    margin-left: auto;
    margin-right: auto;
    color: rgb(19, 175, 26);
    font-size:large;
    font-family: Verdana;
 }
 #itemf{
    border-style: groove;
    font-style: normal;
    font-family: Verdana;
 }
 #news1:hover{
    background-color:gold}
#video, #news{
    display:block;width:480px;margin:auto;
}
 #quote::first-letter{
    font-size: 2.5rem;
    font-weight: bold;
    color: brown;
}
.form-control, .form-label{
    max-width: 50%;
    max-height:5cm;
    max-zoom: 10%;
    display:inline-flex;
}
.container-fluid{
background-image: url(aventure\ montagne.jpg);
background-repeat:repeat-y;
background-position:top;
}
#contain{
    border-style:groove ;
    border-color: aqua;
    border-radius:0.5em;
    text-transform: capitalize;
    border-bottom-width: 1cm;
    border-left-width: 2cm;
}
#floatingtextarea{
    border-style:groove ;
border-color: aqua;
border-radius:0.5em;
text-transform: capitalize;
border-bottom-width: 1cm;
border-left-width: 2cm;
}
